<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
@{
ViewData["Title"]="Galeria";
}
<div class="fontegaleria">
<h4>Desculpe, a galeria está vazia no momento.</h4>
</div>

