<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/site.css" />
@{
    ViewData["Title"] = "Página inicial";
}
<div class="inicio">
    <p>Bem-vindo(a) ao Mostre o seu estilo de desenho!</p>
    <p>O objetivo desse site é incentivar você a mostrar seus desenhos para todos. Não precisa ser um desenhista
        profissional.</p>
    <p>Funciona assim: você manda uma mensagem pelo "Fale conosco" e eu vou analisar, se o desenho não for violento
        ele
        entra na galeria. </p>
    <p>Veja alguns dos meus desenhos e sinta-se livre para mandar o que quiser.</p>
</div>
<img src="Imagens/James e Daphinie.png" alt="James e Daphinie" height="200">
<img src="Imagens/Manny e Emerald Bob crianças.png" alt="Manny e Emerald Bob" height="200">
<img src="Imagens/80's James.png" alt="80's James" height="200">
<img src="Imagens/Cuties.png" alt="Cuties" height="200">
