<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Como o site surgiu?";
}
<div class="tituloSite">
    <h4>Vou contar essa breve história:</h4>
</div>
<div class="textoSite">
    <p>Tudo começou quando eu era criança, gostava muito e ainda gosto muito de desenhar.</p>
    <p>Comecei a desenhar em caderno de escola mesmo, depois fui para um caderno de desenhos e aí fui para o computador.
    </p>
    <p>Sempre tive essa vontade de divulgar meus desenhos, eu mostro eles nas minhas redes sociais (Facebook e
        Instagram), mas não é mesma coisa que mostrar em um site.</p>
    <p>Artistas merecem ser reconhecidos mesmo não sendo profissinais.
    <p>Esse foi o fator principal para a criação desse site.</p>
</div>
