<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Cadastro realizado com sucesso";
}
<div class="sucesso">
<h4>Cadastro realizado com sucesso!</h4>
</div>